<!--
var blockid = 100;
var template = $.get('templates/generic.html', function (r) {
template = r;
createBrick(Mustache.render(template, {
	title: "Demo Scatter Block",
	blockid: blockid++,
	short: "This is how a block works.",
	extended: "A block works in this wise: some stuff happens and then other stuff happens.",
	url: `{
		'<100 days': 'https://vtransapi.aot.state.vt.us/api/v2/edh/_table/closures?fields=duration&filter=(duration>0)%20AND%20(duration<100) &api_key=d1b885b8d202ab320717b54d9265e360db151e69be811f38da2f24fdd09333a5',
		'>100 days':'https://vtransapi.aot.state.vt.us/api/v2/edh/_table/closures?fields=duration&filter=duration>100&api_key=d1b885b8d202ab320717b54d9265e360db151e69be811f38da2f24fdd09333a5'
	}`,
	type: "pie",
	updated: "Last modified just now."
}), {size:5});
});
-->
<h4>{{title}}</h4>
<hr />
<div class="card-text" id="block{{blockid}}">
	<div class="row">
		<div class="chart"></div>
	</div>
	<p class="card-text short">{{short}}</p>
	<p class="card-text extended">{{{extended}}}</p>
</div>
</div> 
<div class="card-footer">
  <small class="text-muted">{{updated}}</small>
</div>

<script>
var attachments = {

init: function () {
	var urls = {{#url}} {{{url}}} {{/url}} {{^url}} false {{/url}},
		promises = [],
		self = this;
	if (!urls) return false;
	$.each(urls, function (k, v) {
		promises.push(new Promise(function(resolve, reject) {
			$.get(v, function(d) {
				var ret = {name: k, data: d}; // attach the name to the returned dataset
				resolve(ret);
			}).fail(function(e) {
				var ret = {name: k, error: e}; // or attach the name to the error
				reject(ret);
			});
		}));
	});

	Promise.all(promises).then(function (data) {
		//success!
		var ret = {};
		$.each(data, function (i, v) { // make the complete dataset in the form of {name1: data, name2: data, name3: data}
			ret[v.name] = v.data;
		});
		self.drawChart(ret);
	}).catch(function (e) {
		//failed.
		console.log(e);
	});
},
drawChart: function (raw) {
	var data = [];
	$.each(raw, function (k, v) {
		var o = [k];
		$.each(v.resource, function (j, w) {
			$.each(w, function (k, val) {
				o.push(val);
			});
		});
		data.push(o);
	});
	var chart = c3.generate({ 
		data: { 
			columns: data, 
			type: '{{type}}' 
		}, 
		bar: { 
			width: { 
				ratio: 0.5 // this makes bar width 50% of length between ticks 
			} 
		}, 
		axis: { 
			x: { 
				type: 'category' // this needed to load string x value 
			}, 
			y: { show: false } 
		}, 
		bindto: '#block{{blockid}} .chart' 
	}); 
	$('#block{{blockid}} .chart').data('c3-chart', chart); 
}
}

$('#block{{blockid}}').data('block', attachments);

</script>
<!--
$.get('http://vtransdream.vtransweb.aot.state.vt.us/api/v2/edh/_table/closures?filter=duration>0&api_key=d1b885b8d202ab320717b54d9265e360db151e69be811f38da2f24fdd09333a5', function (data) { 
	// This year's Closure Duration 
	var closures = {}; 
	var temp = []; 
	var x = ['x']; // axis titles 
	var values = ['2016 Number of Closures']; // values & legend name 
	$.each(data.resource, function (i, v) { // filter to just this year 
		if (v.Duration && v.CloseDate.indexOf('2016') > -1) { 
			closures[v.Duration] = closures[v.Duration] + 1 || 1; 
		} 
	}); 
	$.each(closures, function(k, v) { // prep for sorting 
		temp.push({duration: k, count: v}); 
	}); 
	temp.sort(function (a, b) { // sort together 
		if (a.duration > b.duration) { 
			return 1; 
		} else if (a.duration < b.duration) { 
			return -1; 
		} else { 
			return 0; 
		} 
	}); 
	$.each(temp, function (i, v) { // split sorted objects into arrays 
		x.push(v.duration + ' Days'); 
		values.push(v.count); 
	}); 
	var chart = c3.generate({ 
		data: { 
			x : 'x', 
			columns: [ x, values ], 
			type: 'bar' 
		}, 
		bar: { 
			width: { 
				ratio: 0.5 // this makes bar width 50% of length between ticks 
			} 
		}, 
		axis: { 
			x: { 
				type: 'category' // this needed to load string x value 
			}, 
			y: { show: false } 
		}, 
		bindto: '#chart2' 
	}); 
	$('#chart2').data('c3-chart', chart); 
		
	// total closure length over time. 
	var totalClosures = {}; 
	$.each(data.resource, function (i, v) { 
		var year = new Date(v.CloseDate).getFullYear(); 
		totalClosures[year] = totalClosures[year] + v.Duration || v.Duration; 
	}); 
	var years = Object.keys(totalClosures).sort();
	var total = [];
	$.each(years, function (i, v) { total.push(totalClosures[v]); }); 
	years = ['Years'].concat(years); 
	total = ['Days Closed'].concat(total); 
	chart = c3.generate({ 
		data: { 
				x : 'Years', 
				columns: [ years, total ], 
				type: 'bar' 
			}, 
		bar: { 
			width: { 
				ratio: 0.5 // this makes bar width 50% of length between ticks 
			} 
		}, 
		axis: { 
			x: { 
				type: 'category' // this needed to load string x value 
			},
			y: { show: false } 
		}, 
		bindto: '#chart3' 
	}); 
	$('#chart3').data('c3-chart', chart); 
});-->