<h4>{{title}}</h4> 
<hr /> 
<div class="card-text" id="block{{blockid}}"> 
	<div class="row"> 
		<div class="chart">
		</div>
	</div> 
	<p class="card-text short">{{short}}</p> 
	<p class="card-text extended">{{{extended}}}</p> 
</div> 
</div>
<div class="card-footer"> 
<small class="text-muted">{{updated}}</small> 
</div> 
<style>
.label-200 text {
    font-size: 18px;
    fill: #000;
}
.label-200 line {
    stroke: #000;
}
.c3-chart-text .c3-text text {
	fill: black!important;
	transform: translateY(12px);
}
</style>
<script> 
var yr = new Date().getFullYear() - 10;
 var attachments = {
    init: function() {
		var data = [
				['Travel Weighted Conditions'],
				['x']
			],
			legend = [],
			self = this;
			
		//$.get('https://vtransapi.aot.state.vt.us/api/v2/edh_assets/_table/gen.pavementmetrics?fields=PercentVeryPoor,PercentPoor,PercentFair,PercentGood,MetricYear&filter=(PercentFair IS NOT NULL) AND (MetricYear >= ' + yr + ' )&api_key=d1b885b8d202ab320717b54d9265e360db151e69be811f38da2f24fdd09333a5', function (d) {
		$.get('https://vtransapi.aot.state.vt.us/api/v2/edh_assets/_table/gen.pavementmetrics?fields=TWAC,MetricYear&filter=(TWAC IS NOT NULL)&api_key=d1b885b8d202ab320717b54d9265e360db151e69be811f38da2f24fdd09333a5', function (d) {
			 $.each(d.resource, function (i, year) {
				data[0].push(year.TWAC/100);
				data[1].push(year.MetricYear + '-01-01');
				legend.push(year.MetricYear);
			 });
			 self.drawChart(data, legend);
		});

    },
    drawChart: function(data, legend) {
        var chart = c3.generate({
			padding: {
				top:20,
				left:20,
				right:20,
				bottom:20
			},
            data: {
				x: 'x',
                columns: data,
				order: null,
				type: 'area-spline',
				//type: 'area',
				//type: 'bar',
				labels: {
					format: {
						'Travel Weighted Conditions': d3.format('%'),
					//	'Goal': d3.format('%'),
					}
				},
				colors: {
				//	'Goal': 'Black',
					'Travel Weighted Conditions': 'red'
				}
            },
            bar: {
                width: {
                    ratio: 0.5
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
					
					//categories: legend,
					tick: {
						format: '%Y',
						rotate: 75,
						multiline: false
					},
                },
                y: {
                    show: false,
					max: 1,
					min: 0.4
                }
            },
			tooltip: {
				format: {
					value: d3.format('%')
				}
			},
			grid: {
				y: {
					lines: [
						{value: 0.7, text: 'Performance Goal', class: 'label-200'}
					]
				}
			},
            bindto: '#block{{blockid}} .chart'
        });
        $('#block{{blockid}} .chart').data('c3-chart', chart);
    }
};
$('#block{{blockid}}').data('block', attachments);
 </script>